.nested-cont {
    display: flex;
    height: 60%;
    width: 97%;
    align-self: center;
    line-height: 60%;
}

.nested-cont>[class^="col-"] {
    background-color: springgreen;
    height: 100%;
    line-height: 100%;
    border: 1px solid dodgerblue;
}