.nested-cont {
    display: flex;
    height: 60%;
    width: 97%;
    align-self: center;
}

.debug .nested-cont>[class^="col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: springgreen;
    height: 100%;
    border: 1px solid dodgerblue;
}